.animate-on-scroll {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 5s ease, transform 5s ease;
  }
  
  .animate-on-scroll.animated {
    opacity: 4;
    transform: translateY(0);
  }