@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/* Home.jsx css */
.Logo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;

}

.container img {
    flex: 1;
    margin-right: 50px; /* Adjust the desired spacing here */
}

.container img:last-child {
    margin-right: 0; /* Remove right margin from the last image */
}

.image1, .image2, .image3 {
    width: 50px;
    height: 600px; /* Set the desired height value in pixels */
}
/* products css */

.header {
    padding-top: 20px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 50px;
}

.tshirt{
    font-family: 'Krona One', sans-serif;
}
.product3{
    height: 10px;
}
/* end of product css */
/* end of Home.jsx css */